*{
  padding: 0;
  margin: 0;
  align-items: center;
  font-family: 'Dongle', sans-serif;
}

.o{
  background: linear-gradient(-45deg, rgba(255,142,29,1) 0%, rgba(255,142,29,1) 33%, rgba(255,166,0,1) 100%);
  width: 80%;
  height: 150px;
  margin-top: 5%;
  border-top: black 1px solid;
  border-left: black 1px solid;
  border-right: black 1px solid;
}

.c{
  background-color: white;
  width: 80%;
  height: 150px;
  border: black 1px solid;
}

.c img{
  height: 150px;
  width: 150px;
}

.g{
  background: linear-gradient(45deg, rgba(25,208,4,1) 0%, rgba(25,208,4,1) 33%, rgba(39,255,0,1) 100%);
  width: 80%;
  height: 150px;
  border-bottom: black 1px solid;
  border-left: black 1px solid;
  border-right: black 1px solid;
}

h1{
  font-family: 'Kavivanar', cursive;
  font-size: 80px;
  margin-left:10px;
  margin-right:10px;
}

h2{
  font-size: 60px;
  padding-top: 15px;
}
